<!-- Prettify.  -->
<link href="/prettify/src/prettify.css" type="text/css" rel="stylesheet" />

<!-- Custom styles.  -->
<style type="text/css">/*<![CDATA[*/
div.container {
    margin: 1em; /* non-IE */
    margin: 0.975em; /* IE */
    width: 90%;
    /* margin: auto; */
    /* text-align: left; */ /* leave unchanged */
    /* width: 25em; */ /* non-IE */
    /* *width:24.376em; */ /* IE */
}
a:link, a:focus, a:hover {color: #0000ee;}
a:visited {color: #551a8b;}
address {font-size: 85%;}
/*]]>*/</style>
