<script src="/jquery.js" type="text/javascript"></script>
<script type="text/javascript">/*<![CDATA[*/

// jQuery Mailto Links Plugin
// <http://kevinleary.net/jquery-mailto-links-plugin-version-11>
jQuery.fn.mailto = function() {
  return this.each(function(){
    var email = $(this).html().replace(/\s*\(.+\)\s*/, "@");
    $(this)
      .before('<a href="mailto:' + email + '">' + email + '</a>')
        .remove();
  });
};

// Buzzwords.
jQuery.fn.buzzwords = function() {
  return this.each(function(){
    var index = $("*").index(this);
    var container = $(this).before('<p/>').prev();
    $(this).remove();
    container.append('<span id="buzzwords' + index + '" />')
      .children().hide().append(" ")
        .append($(this).children(":not(:first-child)"))
          .children(":not(:last-child)").after(", ");
    container.prepend($(this).children(":first-child"))
      .children(":first-child").css("border-bottom","1px dashed")
        .css("cursor","pointer").click(function () {
          if ( document.getElementById("buzzwords" + index)
                 .style.display == "none" ) {
            $('#buzzwords' + index).show();
          } else {
            $('#buzzwords' + index).hide();
          }
        });
  });
};

// Print.
jQuery.fn.print = function() {
  return this.each(function(){
    $(this).click(function () {
      $("span").show();
      window.print();
      return false;
    });
  });
};

$(document).ready(function(){
  $("a[href^='danil'][href$='kutkevich.org']").mailto();
  $("li > p:not(:first-child)").filter(":last-child").buzzwords();
  $("h1").append('<button>$i18n|print</button>');
  $("button").print();
});
/*]]>*/</script>
