<!-- Custom styles.  -->
<style type="text/css">/*<![CDATA[*/
@media print {
    button {display: none;}
}
div.container {
    margin: auto;
    text-align: left; /* leave unchanged */
    width: 34.62em; /* non-IE */
    *width:33.78em; /* IE */
    /* min-width: 600px;*//* optional but recommended */
}
a:link, a:focus, a:hover {color: #0000ee;}
a:visited {color: #551a8b;}
/* h3 a:link, h3 a:focus, h3 a:hover, h3 a:visited {
    color: inherit;
    text-decoration: none;
} */
address { font-size: 85%; }
button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}
em {white-space: nowrap; font-style: normal;}

/* TODO: Add IE style fix. */
li {margin-bottom: 1.5em;}

li p {margin-bottom: 0;}
/*]]>*/</style>
