<div class="container">
  $data
  <address>
    $i18n|last_modified $flastmod
  </address>
  <p style="margin-bottom: 0em;">
    <a href="http://member.fsf.org">
      <img src="/fsf.png" alt="FSF Associate Member"
       title="The Free Software Foundation associate member."
       style="width: 80px; height: 15px; border: 0;" />
    </a>

    <!-- http://emacswiki.org/cgi-bin/wiki/EmacsPowered  -->
    <a href="http://gnu.org/software/emacs">
      <img src="/powered_by_GNU_Emacs.jpeg"
       alt="Powered by GNU Emacs" style="width:
       113px; height: 43px; border: 0;" />
    </a>

  </p>
</div>
