<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xml:lang="$i18n|locale" lang="$i18n|locale">
<head>
<title>$i18n|title</title>
<link rel="icon" type="image/png" href="/kutkevich_org.png" />

<!-- Blueprint CSS. -->
<link rel="stylesheet" href="/stylesheets/blueprint/screen.css"
 type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/stylesheets/blueprint/print.css"
 type="text/css" media="print" />
<!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css"
 type="text/css" media="screen, projection" /><![endif]-->

<!-- Custom styles.  -->
<style type="text/css">/*<![CDATA[*/
div.container {
    margin: 1em; /* non-IE */
    margin: 0.975em; /* IE */
    width: 90%;
    /* margin: auto; */
    /* text-align: left; */ /* leave unchanged */
    /* width: 25em; */ /* non-IE */
    /* *width:24.376em; */ /* IE */
}
a:link, a:focus, a:hover {color: #0000ee;}
a:visited {color: #551a8b;}
/* h3 a:link, h3 a:focus, h3 a:hover, h3 a:visited {
    color: inherit;
    text-decoration: none;
} */
p, address {margin: 0;}
address {font-size: 85%;}
/*]]>*/</style>

</head>
<body>
<div class="container">
  $view
  <address>
    $last_modified $flastmod
  </address>
</div>

<!-- Google Analytics -->
<script type="text/javascript">/*<![CDATA[*/
var gaJsHost = (("https:" == document.location.protocol)
                ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost
 + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
/*]]>*/</script>
<script type="text/javascript">/*<![CDATA[*/
try {
  var pageTracker = _gat._getTracker("UA-8147266-1");
  pageTracker._trackPageview();
} catch(err) {}
/*]]>*/</script>

</body>
</html>
